/* @media screen and (max-width:400px){ }*/
#bg{
    display:none ;
  }
  #workimg{
      display: none;
  }
  #connectlogo{
      display: none;
  }
  #logo{
      display: none;
  }
  #mobilelogo{
      display: block;
  }
  #pagecont{
  position: relative;
  top: 25px !important;
  margin: 0px;
  }
  #container  {
      height: 100% !important;
      width: 100% !important;
      margin-left: 0% !important;
  }
  #login-btn{
      margin-left: 96px !important;
  }
  #frgtpswrd {
      /* margin: 35% 0% 35% 60%; */
      position: relative;
      left: 52% !important;
  }
.container.span.text{
  font-family: cursive;
  color: rgb(4, 41, 56);
  font-size: 15px !important;
  font-weight: bolder;
}
#logintxt{
  display: block;
  position: absolute;
  margin: -4% 15% 55% 15%;
  font-size: 15px;
  font-weight: bolder;
}