/* @media screen and (max-width:400px){ }*/
    #bg{
        display: none;
    }
    #workimg{
        display: none;
    }
    #connectlogo{
        display: none;
    }
    #container{
        height: 850px;
    width: 375px;
    background-color: rgb(86, 176, 255);
    position: relative;
    margin-left: 0%;
    margin-top: 0%;
    border-radius: 5%;
    }
